/* style.css */

body {
  scroll-behavior: smooth;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h2 {
  font-weight: 600;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.btn-primary,
.btn-dark {
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #004488;
}

footer {
  background-color: #111;
}
